.icopanel{
border: 4px #96d5ea solid;
background-color: #ffffff;
text-decoration:none;
vertical-align:middle;
height:160px;
width: 100%;
}

.icopanel:hover{
background-color: #a8a8a8;
}

.icopanelDescripcion{
color: #47889e;
vertical-align:middle;
font-family: 'Philosopher', arial, serif;
font-size: 18px;
text-align:center;
}

.icopanelOpcion{
margin: 48px 48px 48px 48px;
}
