/*generic*/
.content { font:13px Verdana, Arial, Helvetica, sans-serif; clear: left; }
.content a {color: #4e69b2; text-decoration: none; }
.content a:hover {text-decoration: underline;}
.content p { padding-bottom: 12px; }

.content ul { 
padding-left:30px;
/*padding: 0px 0px 12px 15px; */
list-style-position:outside; list-style-type:disc; 
}

.content ol { padding: 0px 0px 12px 40px; margin: 0px; }
.content li { padding-bottom: 3px; }
.content h2 { font-weight: bold; font-size: 16px; padding-bottom: 12px; color: #4E69B2 }
.content h3 { font-weight: bold; font-size: 14px; padding-bottom: 12px; }
.content h4 { font-weight: bold; padding-bottom: 12px; }



/*containers*/
.content .content-panel { float: left; width: 620px; margin: 0px 15px 15px; }
.content .side-panel { float: right; width: 300px; margin-right: 20px; }


/*-------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------*/


/* GENERAL */
html{font-size:100.01%;}
body{
	margin:0;
	background:url(../images/bg-rayado.png) #b8d1ec repeat 0 0;
	font:13px Verdana, Arial, Helvetica, sans-serif;
	}
.hidden{
	display:block;
	overflow:hidden;
	text-indent:-9999px;
	}
.float-left{float:left !important;}
.float-right{float:right !important;}

/*style resets*/
img{border:0;}
p{
	margin:0;
	padding:0;
	}
ul{
	margin:0;
	padding:0;
	list-style:none;
	}

h1, h2, h3, h4, h5, h6{
	margin:0;
	padding:0;
	}
a:focus{outline:none;}

/* MAIN */
#main{
	margin:168px auto 0;
	background: #333333;
	}

/* HEADER */
#header{
	height:10px;
	background:url(../images/bg-header.png) no-repeat 0 0;
	position:relative;
	}



div.hidden 
{
	display: none;
}

/* CONTENT */
#content-container{
	overflow:hidden;
	height:1%;
	padding:0 25px 0 3px;
	/*background:url(../images/bg-content-container.png) repeat-y 0 0;*/
	}

/* FOOTER */
#footer{
	overflow:hidden;
	background:none;
	background:url(../images/bg-footer.png) no-repeat 0 0;
	height:42px;
	margin-top: -2px;
	color:#ffffff;
	font-size:12px;
	}
	
#footer ul.footer-menu{
	overflow:hidden;
	padding:12px 45px 0 25px;
	}
	
#footer ul.footer-menu li{
	float:left;
	padding:0 12px;
	position:relative;
	}
	
#footer ul.footer-menu li a{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color:#fff;
	text-decoration:none;
	}
	
#footer ul.footer-menu li a:hover{text-decoration:underline;}

.ancho {list-style: none; margin: 0; padding: 0; height: 85px;}
.ancho li { margin: 0; float: left;}

.ancho .tab1 {	background: url( ../images/home_normal.png) top no-repeat; width: 83px;}
.ancho .tab2 {	background: url( ../images/foro_normal.png) top no-repeat; width: 83px;}
.ancho .tab3 {	background: url( ../images/wiki_normal.png) top no-repeat; width: 83px;}
.ancho .tab4 {	background: url( ../images/chat_normal.png) top no-repeat; width: 83px;}
.ancho .tab5 {	background: url( ../images/webmail_normal.png) top no-repeat; width: 83px;}
.ancho .tab6 {	background: url( ../images/documentos_normal.png) top no-repeat; width: 83px;}
.ancho .tab7 {	background: url( ../images/links_normal.png) top no-repeat; width: 83px;}
.ancho .tab8 {	background: url( ../images/noticias_normal.png) top no-repeat; width: 83px;}
.ancho .tab9 {	background: url( ../images/buscar_normal.png) top no-repeat; width: 83px;}
.ancho .tab10 {	background: url( ../images/fedora_normal.png) top no-repeat; width: 83px;}
.ancho .tab11 {	background: url( ../images/calendario_normal.png) top no-repeat; width: 83px;}

.ancho a {display: block; position: relative; top: 0px; left:0; z-index: 2; padding: 0px; color: #000; height: 85px;}

.ancho .tab1 a:hover { background: url(  ../images/home_reflejo.png) top no-repeat; width: 83px; position:static;}
.ancho .tab2 a:hover { background: url( ../images/foro_reflejo.png) top no-repeat;width: 83px;position:static;}
.ancho .tab3 a:hover { background: url( ../images/wiki_reflejo.png) top no-repeat;width: 83px;position:static;}
.ancho .tab4 a:hover { background: url( ../images/chat_reflejo.png) top no-repeat;width: 83px;position:static;}
.ancho .tab5 a:hover { background: url( ../images/webmail_reflejo.png) top no-repeat;width: 83px;position:static;}
.ancho .tab6 a:hover {	background: url( ../images/documentos_reflejo.png) top no-repeat; width: 83px;}
.ancho .tab7 a:hover {	background: url( ../images/links_reflejo.png) top no-repeat; width: 83px;}
.ancho .tab8 a:hover {	background: url( ../images/noticias_reflejo.png) top no-repeat; width: 83px;}
.ancho .tab9 a:hover {	background: url( ../images/buscar_reflejo.png) top no-repeat; width: 83px;}
.ancho .tab10 a:hover {	background: url( ../images/fedora_reflejo.png) top no-repeat; width: 83px;}
.ancho .tab11 a:hover {	background: url( ../images/calendario_reflejo.png) top no-repeat; width: 83px;}

.ancho span {display:block;height:0;width:0; overflow: hidden;font-size: 1px;color: #3B88AF;}

.rss {
		background: transparent url(../images/rss.gif) no-repeat scroll 0pt 1px;
	padding-left: 18px;
	height: 16px;
	display: block;
}


.searchbox {

	background:transparent url(../images/bg_search.png) no-repeat scroll 0 0;
	display:none;
	float:right;
	height:30px;
	margin:0;
	position:absolute;
	width:165px;
	z-index:100;
	bottom:5px;
	right:5px;
}

.searchbox input{
	background-color:transparent !important;
	border:medium none !important;
	font-size:1.1em !important;
	height:19px !important;
	margin-left:28px;
	padding-top:6px;
	width:125px;
}

.noticiabox {
padding-top:6px;
float:left;
width:623px;
}


.noticia{
padding-top:10px;
border:1px solid;
margin-top: 15px;
padding-bottom:20px;
background: #F4F4F4 none repeat scroll 0 0;
padding-left:20px;
padding-right:20px;

}

.fecha{
font-size:10px;
}

.tit_noticia{
color:#4E69B2;
font-size:16px;
font-weight:bold;
padding-bottom:0px;
border-bottom:1px solid #000;
margin-bottom:10px;
}

