
.context-help-button{
    display: block;
    width: 16px;
    height: 16px;
    margin-top: 4px;
    display: inline-block;
    background: transparent url(../images/question-white.png) no-repeat 50% 50%;
    position: absolute;
}
