.ui-datepicker{
	font: 90.5% "Trebuchet MS", sans-serif;
	margin: 5px;}
.demoHeaders {
	margin-top: 2em;}
#dialog_link {
	padding: .4em 1em .4em 20px;
	text-decoration: none;
	position: relative;}
#dialog_link span.ui-icon {
	margin: 0 5px 0 0;
	position: absolute;
	left: .2em;
	top: 50%;
	margin-top: -8px;}
	div.time-picker {
	font: 100%;
	position: absolute;
	height: 200px;
	width:8em;
	/* maldito IE    width:4em;*/
	overflow: auto;
	background: #fff;
	border: 1px solid #000;
	z-index: 99;
	margin-top: 2em;
}
#dialog_link2 {
	padding: .4em 1em .4em 20px;
	text-decoration: none;
	position: relative;}
#dialog_link2 span.ui-icon {
	margin: 0 5px 0 0;
	position: absolute;
	left: .2em;
	top: 50%;
	margin-top: -8px;}
	div.time-picker {
	font: 100%;
	position: absolute;
	height: 200px;
	width:8em;
	/* maldito IE    width:4em;*/
	overflow: auto;
	background: #fff;
	border: 1px solid #000;
	z-index: 99;
	margin-top: 2em;
}
div.time-picker-12hours {
	/*width:6em; maldito IE */
	}
			
div.time-picker ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		}
div.time-picker li {
		padding: 1px;
		cursor: pointer;
		}
div.time-picker li.selected {
		background: #316AC5;
		color: #fff;
		}
		
input {
		margin:0;
		padding:0;
		}
			
			
.error {
		border:1px solid red;
		}